.home-container {
    .home-header-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-card-div {
        .v-card {
            margin: 5px 5px 5px 5px;
        }
    }
}
