.upsert-curriculum-container {
    .v-subheader{
        align-content:flex-end;
        align-items:flex-end;
    }
    .v-row {
        align-items: center;
    }

    .row-header-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.upsert-curriculum-footer-section {
    margin-top: 5px;
}